[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pony = "*"
aiohttp = { extras = ["asyncio"], version = "*" }
fastapi = "*"
pydantic = "*"
aiohttp-socks = "*"
psutil = "*"
aiofiles = "*"
jinja2 = "*"
websockets = "*"
python-multipart = "*"
asyncssh = "*"
cryptography = "*"
trio = "*"
trio-asyncio = "*"
hypercorn = {extras = ["trio"], version = "*"}
pendulum = "*"
pyinstrument = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
