[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pony = "*"
aiohttp = { extras = ["asyncio"], version = "*" }
fastapi = "*"
uvicorn = "*"
pydantic = "*"
aiohttp-socks = "*"
psutil = "*"
aiofiles = "*"
jinja2 = "*"
websockets = "*"
python-multipart = "*"
asyncssh = "*"
hypercorn = "*"
cryptography = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
